body{
    margin: 20px;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
}
.nik{
    width: 200px;
}

.card{
    width: 600px;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    background-color: #ddebf8;
    color: #2b2839;
    border-bottom: 12px solid #d8cefe ;
}

.text{
    font-family: Inte;
}
.blueDottedBorder{
    border: 1px blue dotted;
}